<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>API Center</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

        <style>
            * {
                font-family: "Be Vietnam Pro", sans-serif;
            }
        </style>
    </head>

    <body>
        <div class="container mt-6">
            <h4 class="title is-4">API Routes</h4>
            
            <table class="table is-bordered is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th class="has-text-centered">No.</th>
                        <th class="has-text-centered">Route</th>
                        <th class="has-text-centered">Parameter</th>
                        <th class="has-text-centered">Description</th>
                    </tr>
                </thead>

                <tbody>
                    {% for route in routeList %}
                        <tr>
                            <td class="has-text-centered">{{route.id}}</td>
                            <td><a href="/api/{{route.route}}">/{{route.route}}</a></td>
                            <td>{{route.parameter}}</td>
                            <td>{{route.description}}</td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>